<div class="filters-container">
  <mat-form-field appearance="outline">
    <mat-select
      [(ngModel)]="selectedSector"
      placeholder="Sector/Piso"
      (selectionChange)="applyFilter()"
    >
      <mat-option [value]="null">Todos</mat-option>
      <mat-option *ngFor="let sector of sectors" [value]="sector">
        {{ sector.label }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!-- <mat-form-field appearance="outline">
    <mat-select
      [(ngModel)]="selectedArea"
      placeholder="Área"
      (selectionChange)="applyFilter()"
    >
      <mat-option [value]="null">Todas</mat-option>
      <mat-option *ngFor="let area of areas" [value]="area">
        {{ area.label }}
      </mat-option>
    </mat-select>
  </mat-form-field> -->

  <mat-form-field appearance="outline">
    <input
      matInput
      [matDatepicker]="picker"
      placeholder="Día"
      [(ngModel)]="selectedDay"
      (dateChange)="applyFilter()"
    />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="outline" placeholder="Buscar...">
    <input
      placeholder="Buscador"
      matInput
      [(ngModel)]="searchTerm"
      (keyup)="applyFilter()"
    />
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>

  <mat-slide-toggle
    labelPosition="before"
    [(ngModel)]="conEntrevista"
    (change)="applyFilter()"
  >
    Pac. SIN entrevista inicial
  </mat-slide-toggle>

  <div class="button-group">
    <button *ngIf="isColacion" mat-button class="add-patient-button">
      <mat-icon>person_add</mat-icon>
      Agregar nuevo paciente en Colación
    </button>
    <button mat-button class="custom-button">
      <mat-icon>restaurant</mat-icon>
      Ver Menú
    </button>
    <button mat-button class="custom-button">
      <mat-icon>front_hand</mat-icon>
      Ped. fuera de hora
    </button>
    <button mat-button class="custom-button">
      <mat-icon>print</mat-icon>
      Imprimir
    </button>
  </div>
</div>
