<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="selected">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="toggleSelectAll($event.checked)" [checked]="isAllSelected()"
        [indeterminate]="isIndeterminate()"></mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let element">
      <mat-checkbox [(ngModel)]="element.selected"></mat-checkbox>
    </td>
  </ng-container>

  <ng-container matColumnDef="ubicacion">
    <th mat-header-cell *matHeaderCellDef> Ubicación </th>
    <td mat-cell *matCellDef="let element"> {{element.ubicacion}} </td>
  </ng-container>

  <ng-container matColumnDef="diagnostico">
    <th mat-header-cell *matHeaderCellDef> Diagnóstico </th>
    <td mat-cell *matCellDef="let element"> {{element.diagnostico}} </td>
  </ng-container>

  <ng-container matColumnDef="nombreYApellido">
    <th mat-header-cell *matHeaderCellDef> Nombre Apellido </th>
    <td mat-cell *matCellDef="let element"> {{element.nombreYApellido}} </td>
  </ng-container>

  <ng-container matColumnDef="alergias">
    <th mat-header-cell *matHeaderCellDef> Alergias </th>
    <td mat-cell *matCellDef="let element"> {{element.alergias}} </td>
  </ng-container>

  <ng-container matColumnDef="dietaIndicada">
    <th mat-header-cell *matHeaderCellDef> Dieta Indicada </th>
    <td mat-cell *matCellDef="let element">
      <mat-form-field appearance="outline">
        <input matInput placeholder="Dieta Indicada">
      </mat-form-field>
    </td>
  </ng-container>

  <ng-container matColumnDef="dietaAdecuada">
    <th mat-header-cell *matHeaderCellDef> Dieta Adecuada </th>
    <td mat-cell *matCellDef="let element">
      <mat-form-field appearance="outline">
        <mat-select [(ngModel)]="element.dietaAdecuada" placeholder="Seleccionar...">
          <mat-option *ngFor="let dieta of dietas" [value]="dieta">{{dieta}}</mat-option>
        </mat-select>
      </mat-form-field>
    </td>
  </ng-container>

  <ng-container matColumnDef="liquidos">
    <th mat-header-cell *matHeaderCellDef> Líquidos </th>
    <td mat-cell *matCellDef="let element">
      <mat-form-field appearance="outline">
        <mat-select [(ngModel)]="element.liquidos" placeholder="Seleccionar...">
          <mat-option *ngFor="let liquido of liquidos" [value]="liquido">{{liquido}}</mat-option>
        </mat-select>
      </mat-form-field>
    </td>
  </ng-container>

  <ng-container matColumnDef="panificados">
    <th mat-header-cell *matHeaderCellDef> Panificados </th>
    <td mat-cell *matCellDef="let element">
      <mat-form-field appearance="outline">
        <mat-select [(ngModel)]="element.panificados" placeholder="Seleccionar...">
          <mat-option *ngFor="let panificado of panificados" [value]="panificado">{{panificado}}</mat-option>
        </mat-select>
      </mat-form-field>
    </td>
  </ng-container>

  <ng-container matColumnDef="reposteria">
    <th mat-header-cell *matHeaderCellDef> Repostería </th>
    <td mat-cell *matCellDef="let element">
      <mat-form-field appearance="outline">
        <mat-select [(ngModel)]="element.reposteria" placeholder="Seleccionar...">
          <mat-option *ngFor="let repostero of reposteria" [value]="repostero">{{repostero}}</mat-option>
        </mat-select>
      </mat-form-field>
    </td>
  </ng-container>

  <ng-container matColumnDef="untables">
    <th mat-header-cell *matHeaderCellDef> Untables </th>
    <td mat-cell *matCellDef="let element">
      <mat-form-field appearance="outline">
        <mat-select [(ngModel)]="element.untables" placeholder="Seleccionar...">
          <mat-option *ngFor="let untable of untables" [value]="untable">{{untable}}</mat-option>
        </mat-select>
      </mat-form-field>
    </td>
  </ng-container>

  <ng-container matColumnDef="liquidosFrios">
    <th mat-header-cell *matHeaderCellDef> Líquidos Fríos </th>
    <td mat-cell *matCellDef="let element">
      <mat-form-field appearance="outline">
        <mat-select [(ngModel)]="element.liquidosFrios" placeholder="Seleccionar...">
          <mat-option *ngFor="let liquidoFrio of liquidosFrios" [value]="liquidoFrio">{{liquidoFrio}}</mat-option>
        </mat-select>
      </mat-form-field>
    </td>
  </ng-container>

  <ng-container matColumnDef="extras">
    <th mat-header-cell *matHeaderCellDef> Extras </th>
    <td mat-cell *matCellDef="let element">
      <mat-form-field appearance="outline">
        <mat-select [(ngModel)]="element.extras" placeholder="Seleccionar...">
          <mat-option *ngFor="let extra of extras" [value]="extra">{{extra}}</mat-option>
        </mat-select>
      </mat-form-field>
    </td>
  </ng-container>

  <ng-container matColumnDef="otrosExtras">
    <th mat-header-cell *matHeaderCellDef> Otros/Extras </th>
    <td mat-cell *matCellDef="let element">
      <mat-form-field appearance="outline">
        <input matInput placeholder="Otros/Extras">
      </mat-form-field>
    </td>
  </ng-container>

  <ng-container matColumnDef="gustosSi">
    <th mat-header-cell *matHeaderCellDef> Gustos SI </th>
    <td mat-cell *matCellDef="let element" class="text-green"> {{element.gustosSi}} </td>
  </ng-container>

  <ng-container matColumnDef="gustosNo">
    <th mat-header-cell *matHeaderCellDef> Gustos NO </th>
    <td mat-cell *matCellDef="let element" class="text-red"> {{element.gustosNo}} </td>
  </ng-container>

  <ng-container matColumnDef="anamnesis">
    <th mat-header-cell *matHeaderCellDef> Anamnesis </th>
    <td mat-cell *matCellDef="let element">
      <mat-form-field appearance="outline">
        <input matInput placeholder="Anamnesis">
      </mat-form-field>
    </td>
  </ng-container>

  <ng-container matColumnDef="acciones">
    <th mat-header-cell *matHeaderCellDef> Acciones </th>
    <td mat-cell *matCellDef="let element" style="display: flex; padding: 7px 0px; gap: 3px;">
      <button mat-icon-button>
        <mat-icon>edit_note</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>subject</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>person_check</mat-icon>
      </button>
      <button mat-icon-button (click)="toggleValidado(element)" [ngClass]="{'validado': element.validado}">
        <mat-icon style="color: green;">{{ element.validado ? 'check_circle' : 'check_circle_outline' }}</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>