* {
  font-family: "Sofia Sans Semi Condensed", sans-serif;
}

.mat-mdc-tab-header {
  width: fit-content;
}

.mat-mdc-tab-ripple {
  border: 1.5px solid #3c83ed;
  border-radius: 10px 10px 0 0;
}

.mat-mdc-tab .mdc-tab__content {
  color: #3c83ed;
}

.mat-mdc-tab-group.mat-mdc-tab-group-stretch-tabs
  > .mat-mdc-tab-header
  .mat-mdc-tab:focus {
  border-radius: 10px 10px 0 0;
  background-color: #3c83ed;
}

.mat-mdc-tab.mdc-tab--active:focus .mdc-tab__text-label {
  color: #fff !important;
}

.mat-mdc-form-field-type-mat-select:not(.mat-form-field-disabled)
  .mat-mdc-text-field-wrapper {
  border-radius: 10px;
}
.mat-mdc-form-field-type-mat-select:not(.mat-form-field-disabled)
  .mat-mdc-text-field-wrapper {
  margin-top: 4px;
  top: 7px;
}

.mat-mdc-text-field-wrapper {
  height: 35px !important;
  margin-top: 4px;
  top: 7px;
  display: flex;
  align-items: center;
}

.mat-mdc-cell {
  border-bottom: groove !important;
}

.mdc-text-field--outlined .mat-mdc-form-field-infix,
.mdc-text-field--no-label .mat-mdc-form-field-infix {
  padding: 4px !important;
}

.paginator-field {
  div:first-child {
    top: initial !important;
  }
}

div.mat-mdc-paginator-container {
  justify-content: flex-start;
}

.filters-container {
  display: flex;
  gap: 10px;
  align-items: center;

  div.mat-mdc-form-field-icon-suffix {
    bottom: 10px !important;
  }
}

div.mat-sort-header-arrow {
  opacity: 1 !important;
}

.mat-column-ubicacion {
  position: sticky;
  left: 0;
  z-index: 1;
}

.mat-column-nombreYApellido {
  position: sticky;
  left: 100px;
  z-index: 1;
}

.mat-mdc-paginator-page-size {
  position: sticky;
  left: 0;
  z-index: 1;
}
.mat-mdc-paginator-range-actions {
  position: sticky;
  left: 200px;
  z-index: 1;
}

td.mat-column-selected {
  display: flex;
  align-items: center;
}

td {
  height: 110px;
}

td.mat-column-acciones{
  display: inline-flex;
  align-content: center;
}